/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para el encabezado */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 2em; /* Tamaño relativo al tamaño del encabezado */
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__item {
    margin-top: 20px;
    margin-left: 40px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav__link:hover {
    background-color: #3789c1;
}

/* Estilos para los iconos en el menú de navegación */
.material-icons {
    vertical-align: middle; /* Alinea verticalmente los iconos */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}


/* Estilos para los párrafos */
p {
    font-size: 18px; /* Tamaño del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    color: #666; /* Color del texto */
}

/* Estilos para los títulos de sección */
.section h2 {
    font-size: 28px; /* Tamaño del título */
    font-weight: bold; /* Peso de la fuente */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos para las secciones */
.section {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.section:nth-child(even) {
    background-color: #e0e0e0;
}

.section__title {
    margin-top: 0;
}

/* Estilos para el carrusel de proyectos */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    font-size: 24px;
}

/* Estilos para el formulario de contacto */
.contact-form {
    text-align: center;
}

.contact-form__input,
.contact-form__textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.contact-form__input[type="text"],
.contact-form__input[type="email"],
.contact-form__textarea {
    border-radius: 5px;
}

.contact-form__textarea {
    resize: none;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

/* Estilos para el footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer p{
    color: #fff;
}

/* Estilos para el carrusel de proyectos */
.swiper-container {
    width: 100%;
    height: 400px; /* Altura deseada para el carrusel */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; /* Añade posición relativa para permitir posicionamiento absoluto dentro */
}

.swiper-slide img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
}

.swiper-slide::before {
    content: ''; /* Contenido del pseudoelemento */
    position: absolute; /* Posicionamiento absoluto */
    top: 0;
    left: 0;
    width: 100%;
    height: 10000px;
    background-color: rgba(0, 0, 0, 0.3); /* Color de fondo con transparencia */
    z-index: 1; /* Asegura que la capa esté detrás de la imagen */
}

.swiper-slide__caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    z-index: 2; /* Asegura que la leyenda esté delante de la capa */
}


/* Estilos para el carrusel de proyectos */
.swiper-slide {
    position: relative; /* Añade posición relativa para permitir posicionamiento absoluto dentro */
}

.text-overlay {
    position: absolute; /* Posicionamiento absoluto */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra completamente */
    text-align: center; /* Alinea el texto al centro */
    color: #fff; /* Color del texto */
}

.text-overlay h3 {
    margin: 0; /* Elimina el margen por defecto */
    font-size: 48px; /* Tamaño de fuente más grande para el título */
    font-weight: bold; /* Texto en negrita */
    font-family: 'Arial', sans-serif; /* Fuente del título */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
}

.text-overlay p {
    margin: 10px 0; /* Espaciado entre el título y el párrafo */
    font-size: 32px; /* Tamaño de fuente más grande para el párrafo */
    font-weight: bold; /* Texto en negrita */
    font-family: 'Arial', sans-serif; /* Fuente del párrafo */
    color: #4A90E2; /* Color del párrafo para destacar */
}

.material-icons {
    vertical-align: middle; /* Alinea verticalmente los iconos */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}